[project]
	description = Turn based, web-based game center.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/mmm2a
[access "refs/for/refs/*"]
	read = group user/mmm2a
	push = group user/mmm2a
	label-Code-Review = -2..+2 group user/mmm2a
	label-Verified = -1..+1 group user/mmm2a
	rebase = group user/mmm2a
	removeReviewer = group user/mmm2a
	submit = group user/mmm2a
[access "refs/heads/*"]
	read = group user/mmm2a
	create = group user/mmm2a
	push = +force group user/mmm2a
	pushMerge = group user/mmm2a
[access "refs/tags/*"]
	push = +force group user/mmm2a
	pushTag = group user/mmm2a
	pushSignedTag = group user/mmm2a
